[
  {
    "ParameterKey": "LambdaImplementation",
    "ParameterValue": "go"
  },
  {
    "ParameterKey": "OAuthSecretArn",
    "ParameterValue": ""
  },
  {
    "ParameterKey": "OAuthClientId",
    "ParameterValue": ""
  },
  {
    "ParameterKey": "OAuthClientSecret",
    "ParameterValue": ""
  },
  {
    "ParameterKey": "VirtualAgentName",
    "ParameterValue": "customers/{customer}/profiles/{profile}/virtualAgents/{virtualAgentID}"
  },
  {
    "ParameterKey": "Region",
    "ParameterValue": "us-west-2-prod"
  },
  {
    "ParameterKey": "CodeS3Bucket",
    "ParameterValue": "your-s3-bucket-name"
  },
  {
    "ParameterKey": "CodeS3Key",
    "ParameterValue": ""
  },
  {
    "ParameterKey": "FunctionName",
    "ParameterValue": "aws-lambda-connect-pstn-transfer"
  },
  {
    "ParameterKey": "RoleName",
    "ParameterValue": "aws-lambda-connect-pstn-transfer-role"
  }
]
